/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif; /* Fonte padrão para textos menores */
    line-height: 1.6;
    background-color: #f4f4f4;
    text-align: center;
}

/* Aplicando a fonte Poppins para textos grandes */
h1, h2, h3, h4, h5, h6, h7, h8, h9 {
    font-family: 'Poppins', sans-serif; /* Fonte Poppins para títulos */
    font-weight: 600; /* Peso mais forte para destacar os títulos */
}

/* Cabeçalho */
header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    position: relative; /* Para garantir que o menu dropdown seja posicionado corretamente */
    width: 100%; /* Ajusta a largura do cabeçalho para 100% da tela */
    padding-top: 15.37%;
}


/* Logo centralizado */
#LogoIom {
    height: auto;
    width: 86%; /* Define a largura do logo como 30% da largura da tela */
    max-width: 120px; /* Limita a largura máxima do logo */
    margin-bottom: 10px;
}


/* Botão de menu */
#BarraOpções {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-size: 1.5em;
    
    position: absolute;
    right: 20px; /* Mantém na lateral direita */
}

#divImagem1 {
    position:relative;
    width: 100%;
}

#Imagem1 {
    width: 100vw; /* Mantém a largura total da tela */
    height: 47.5vh; /* Altura inicial para telas menores */
    max-height: 500px; /* Evita que fique muito grande */
    object-fit: cover; /* Faz um "zoom" cortando as bordas sem distorcer */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    opacity: 55%;
    transition: height 0.3s ease-in-out; /* Suaviza a transição da altura */
}

#subTitulo {
    position:absolute;
    top: 55%; /* Ajusta para ficar no meio da imagem */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Corrige o posicionamento exato */
    font-size: 16px; /* Ajuste do tamanho */
    font-weight:normal;
    width:39vh;
    text-align: center;
}

#titulo {
    position: absolute;
    top: 20%; /* Ajusta para ficar no meio da imagem */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Corrige o posicionamento exato */
    color: #29166F; /* Garante que o texto fique visível */
    font-size: 22px; /* Ajuste do tamanho */
    font-weight: bold;
    text-align: center;
    width: 83.25%;
}

@media (min-width:390px){
    #titulo {
        font-size: 34px;
    }
}
@media (min-width:722px){
    #subTitulo {
        font-size: 21px;
        width: 65vh;
    }
}

#BotaoContato {
    color: black;
    border-radius: 10px;
    width: 121px;
    height: 40px;
    border: none; /* Remove a borda */
    background-color: #7BF559;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lato';
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translateX(-50%);
}

#BotaoContato:hover {
    background-color: #4ed42d; /* Cor mais escura ao passar o mouse */
}

#retangulo2 {
    background-color: #449284;
    width: 100%;
    height: 19vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

#BotaoConhecaCursos {
    color: white;
    border-radius: 10px;
    width: 210px;
    height: 40px;
    border: none; /* Remove a borda */
    background-color: #29166F;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lato';
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

#BotaoConhecaCursos:hover {
    background-color: #5138a9; /* Cor mais escura ao passar o mouse */
}

#logoInsta {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-top: 2px;
}

#logoFacebook {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-top: 5px;
}

#divRedesSociais {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
    display: flex;
    gap: 50px; /* Ajuste o valor conforme necessário para aumentar ou diminuir o espaçamento */
}

#logoZap {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#textoCursos {
    font-size: 34px;
    font-weight: bold;
    color: #29166F;
    padding-top: 14%;
    padding-bottom: 3%;
}



/* Menu dropdown */
.opcoesMenu {
    display: none;
    position: absolute;
    top: 60px; /* Ajuste conforme necessário */
    right: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
}

.opcoesMenu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 3px;
}

.opcoesMenu a:hover {
    background-color: #e3e3e3;
}

#divBotoesCursos {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    gap: 20px; /* Espaço entre os botões */
    flex-wrap: wrap; /* Permite que os botões se ajustem à linha, se necessário */
    width: 100%; /* O contêiner ocupa toda a largura disponível */
    padding-top: 10px;
}

#botaoMiniImplante {
    background-image: url('imagens/fotoMiniImplante.jpeg');
}

#botaoOrtodontia {
    background-image: url('imagens/imagemOrtodontia.png');
}

#botaoOdontopediatria {
    background-image: url('imagens/imagemOdontopediatria.png');
}

#botaoImplantodontia {
    background-image: url('imagens/imagemImplantodontia.png');
}

#botaoOrtopedia {
    background-image: url('imagens/imagemOrtopedia.png');
}

#botaoHarmonizacao {
    background-image: url('imagens/imagemHarmonização.png');
}

#botaoOralMenor {
    background-image: url('imagens/imagemOralMenor.png');
}

.botoesCursos {
    color: black;
    border-radius: 10px;
    width: 280px;
    height: 140px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden; /* Garante que a camada branca fique apenas dentro do botão */
}

/* Camada branca semi-transparente inicial */
.botoesCursos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(255, 255, 255, 0.55); /* Camada branca semi-transparente */
    
    z-index: 0; /* Mantém a camada abaixo do conteúdo do botão */
}

/* Mudar a camada branca para um tom levemente azul quando o botão for clicado */
.botoesCursos:active::before {
    background-color: #320fae4a; /* Cor azul clara com opacidade */
}

.botoesCursos:active .textosBotoesCursos {
    color: white; /* Cor do texto em branco ao clicar */
}

/* Estilo do texto dentro do botão */
.textosBotoesCursos {
    position: relative;
    z-index: 1;
    font-weight: normal;
    font-family: 'Poppins';
    font-size: 22px;
}




/* Responsividade para telas maiores */
@media (min-width: 768px) {
    header {
        flex-direction: row; /* Para manter os elementos lado a lado */
        justify-content: space-between;
    }

    #LogoIom {
        height: 100px;
        margin-bottom: 0;
    }

    .opcoesMenu {
        position: static;
        display: flex;
        gap: 15px;
        background: none;
        box-shadow: none;
        padding: 0;
    }

    .opcoesMenu a {
        padding: 10px 15px;
        font-size: 1.1em;
        border: none;
    }

    #BarraOpções {
        display: none;
    }
}
